html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,
    Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1.05rem;
    background-color: rgb(252 249 244);
}

.ele-modal-wrap{
    background-color: white;
    position: fixed;
    top: 25%;
    height: 300px;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 13px !important;  
}

.pl-modal-wrap{
    background-color: white;
    position: fixed;
    top: 25%;
    height: 270px;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 13px !important; 
}

.udl-modal-wrap{
    background-color: white;
    position: fixed;
    top: 25%;
    height: 330px;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 13px !important; 
}

.tab { 
    display: inline-block; 
    width: 100px; 
}

.box {
    box-shadow: 20px
}

.canvas {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
 }

 @media (max-width: 750px) { 
    html {font-size: 0.90rem;}
    footer {position: relative;} 
}